name: Nightly

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
  schedule:
    - cron: '0 0 * * *' # Run daily
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set build variables
        id: vars
        run: |
          DATE=$(date +'%Y-%m-%d')
          TAGS=$(printf "type=raw,value=nightly\ntype=raw,value=nightly-${DATE}")
          echo "version=main" >> $GITHUB_OUTPUT
          echo "date_tag=nightly-${DATE}" >> $GITHUB_OUTPUT
          echo "tags<<EOF" >> $GITHUB_OUTPUT
          echo -e "$TAGS" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Check if image exists
        id: check-image
        run: |
          IMAGE_TAG=${{ steps.vars.outputs.date_tag }}
          FULL_IMAGE_NAME=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${IMAGE_TAG}
          if docker pull ${FULL_IMAGE_NAME} 2>/dev/null; then
            echo "exists=true" >> $GITHUB_OUTPUT
            echo "Image ${FULL_IMAGE_NAME} already exists. Skipping build."
          else
            echo "exists=false" >> $GITHUB_OUTPUT
            echo "Image ${FULL_IMAGE_NAME} does not exist. Proceeding with build."
          fi

      - name: Log in to the Container registry
        if: steps.check-image.outputs.exists != 'true'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        if: steps.check-image.outputs.exists != 'true'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: ${{ steps.vars.outputs.tags }}

      - name: Build and push Docker image
        if: steps.check-image.outputs.exists != 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            OOYE_VERSION=${{ steps.vars.outputs.version }}
